<!--<h1>{{ title }}</h1>-->

<!--<h3>{{ count }}</h3>-->
<!--<button (click)="add()">+</button>-->
<!--<button (click)="minus()">-</button>-->

<!--<div *ngIf="product">-->
<!--  <h2>{{ product.title }}</h2>-->
<!--  <p>{{ product.description }}</p>-->
<!--  <img width="100" height="100" [src]="product.image" />-->
<!--</div>-->

<div *ngFor="let pd of products; let i = index" class="product-detail">
  {{ i }}
  <h2>{{ pd.title }}</h2>
  <p>{{ pd.description }}</p>
  <strong>{{ pd.price }}</strong>
</div>
